<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left"> 
    <hr><br><br>
    <H1>
    이름 : 이원준 <br><br>
    소속 : 부산대학교 정보컴퓨터공학부 <br><br>
    이메일 : lwjun0513@gmail.com <br><br>
    홈페이지 : github.com/lwjun0513 <br><br>
    </H1>
    
    
    </div>
  </div>
</div>