<!DOCTYPE html>
<html>
<head>
    <% include ./header.ejs %> 
    <% include ./daum_map_header.ejs %>
</head>
    
<body>
    <% include ./top.ejs %>
    <% include ./daum_map_info.ejs %>

<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=64cf6e4084cb6764739eb3481a8a5c94&libraries=services">
</script>


<script>
    <% include ./daum_map_position.ejs %>
</script>
    <hr>
    <% include ./footer.ejs %> 
    
</body>
</html>