<!DOCTYPE html>
<html>
  <head>
    <% include ./header.ejs %> 
  </head>
  <body>
    <% include ./top.ejs %>
    <% include ./body.ejs %>   
    <br><hr>
    <% include ./footer.ejs %> 
  </body>
</html>
